.footer .title {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 12px;
  }
}

.list.join .title {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 0px;
  }
}

// .form .title {
//   margin-bottom: 21px;
// }
