.footer .title {
  color: #ffffff;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    display: block;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    // margin-bottom: 60px;
  }
}

// .form .title {
//   margin-bottom: 21px;
// }
