// Навигация Хэдера
.header {
  position: relative;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 10px;
  padding-bottom: 10px;
}

.menu-button {
  display: inline-flex;
  padding: 0px;
  margin: 0px;
  border: none;
  background-color: inherit;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.header-box {
  display: none;
}

.header-box.is-open {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  padding-top: 60px;
  padding-bottom: 60px;

  border-top: 1px solid #ececec;

  background-color: $primary-white-color;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 4px 8px rgba(0, 0, 0, 0.04);
}

// .navigation,
// .navigation .list {
//   display: flex;
//   align-items: center;
// }

// .navigation .list {
//   margin-left: 85px;
//   /* padding: 32px 0px; */
// }

// .navigation li + li {
//   margin-left: 50px;
// }

.header .navigation {
  margin-bottom: 60px;

  color: $title-text-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation .list {
  text-align: center;
}

.navigation .link:hover,
.navigation .link:focus {
  color: $accent-color;
}

.navigation .link {
  // padding: 32px 0px;
  color: inherit;

  // height: 80px;
}

.navigation li + li {
  margin-top: 40px;
}

// // .navigation li {
//   // display: flex;

//   // height: 100%;
// }

// Адрес Хэдера

// .adres {
//   margin-left: auto;
// }

.adres a {
  display: flex;
  justify-content: center;
}

// .adres .link + .link {
//   margin-left: 30px;
// }

.adres .link {
  // align-items: center;

  color: inherit;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adres .link + .link {
  margin-top: 16px;
}

.adres .link:hover,
.adres .link:focus {
  color: $accent-color;
}

.mail-icon {
  margin-right: 10px;
  width: 16px;
  height: 11px;
  fill: currentColor;
}

.telephone-icon {
  margin-right: 10px;
  width: 10px;
  height: 15px;
  fill: currentColor;
}

.adres p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
